
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log"  cols="100" rows="20">
        {% for message in chat_message_curr reversed %}
        {{message.author}} : {{ message.content }}
        {% endfor %}
    </textarea><br>
    <form id="chat-message-input" method="POST" class="w-full">
        {% csrf_token %}
        {{ form }}
    </form>
    {{ room_name|json_script:"room-name" }}
    {{ ticket_seller|json_script:"ticket-seller" }}
    {{ buyer|json_script:"buyer" }}


    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const ticketSeller = JSON.parse(document.getElementById('ticket-seller').textContent);
        const buyer = JSON.parse(document.getElementById('buyer').textContent);
        console.log(roomName)
        console.log(ticketSeller)
        console.log(buyer)
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
            + ticketSeller
            + '/'
            + buyer
            + '/'
        );
        console.log(chatSocket)

        chatSocket.onmessage = async function(e) {
            const data = JSON.parse(e.data);
            const chatLog = document.querySelector('#chat-log');
            console.log('Received data:', data);
            await new Promise(resolve => setTimeout(resolve, 50));
            const author = data.message['author'];

            // Create a new element for the message
            const newMessage = document.createElement('div');
            newMessage.textContent = `${author}: ${data.message['message']}\n`;      

            // Append the new message element to the chat log
            // chatLog.appendChild(newMessage.textContent);
            chatLog.textContent += newMessage.textContent ;

            // Scroll to the bottom of the chat log
            chatLog.scrollTop = chatLog.scrollHeight;
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        // document.querySelector('#chat-message-input').focus();
        // document.querySelector('#chat-message-input').onkeyup = function(e) {
        //     if (e.key === 'Enter') {  // enter, return
        //         document.querySelector('#chat-message-input').click();
        //     }
        // };

        document.querySelector('#chat-message-input').onsubmit = function(e) {
        e.preventDefault();  // Prevent default form submission

        const messageInputDom = document.querySelector('#id_content');
        const message = messageInputDom.value;

        // Send the message through WebSocket
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
        };

    </script>
    </body>
    </html>