{% extends 'base.html' %}
{% load static %}

{% block content%}
<div class="col-md-6 offset-md-3">

    <h1>Tickets</h1>
    <br/>
        {% csrf_token %}

        <div class="card-header">
            <h1>Available Tickets</h1>

            {% if tickets_all %}
                <ul>
                {% for ticket in tickets_all %}
                    <li>
                        {{ ticket.facility }} - {{ ticket.price }} (Quantity: {{ ticket.quantity }})
                        </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No tickets available at this time.</p>
            {% endif %}

        </div>
        <!-- <button type="submit" class="btn btn-secondary">Create</button> -->
    </form>

</div>

{% endblock %}